<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plus_time">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- permission to use the camera -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application>
        <activity android:name="com.apptreesoftware.barcodescan.BarcodeScannerActivity">
    </aplication>
</manifest>
